.single-content{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.header {
    text-align:center;
    padding:5px;
}

.menu {
    width:230px;
    float:left;
    padding:15px; 
}

.main-content {
	 padding:10px;
}

.footer {
    clear:both;
    text-align:center;
    padding:5px; 
}